<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremas - Tienda Online de Herramientas de Construcción</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'script.js' %}"></script>
</head>
<body>
    <div id="header">
        <h1 class="title">Ferremas</h1>
    </div>

    <nav>
        <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only"></span></a>
        <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
        <a class="nav-link" href="{% url 'productos' %}">Productos</a>
        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
    </nav>


    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <!-- Agrega los campos del formulario de login -->
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <button type="submit">Login</button>
    </form>
        <a class="nav-link" href="{% url 'register' %}">registrate <span class="sr-only"></span></a>
        <a class="nav-link" href="{% url 'admin' %}">admin <span class="sr-only"></span></a>
        <a class="nav-link" href="{% url 'cliente' %}">cliente <span class="sr-only"></span></a>
        <a class="nav-link" href="{% url 'bodeguero' %}">bodeguero <span class="sr-only"></span></a>
        <a class="nav-link" href="{% url 'vendedor' %}">vendedor <span class="sr-only"></span></a>
        <a class="nav-link" href="{% url 'contador' %}">contador <span class="sr-only"></span></a>

</body>

</html>