<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremas - Tienda Online de Herramientas de Construcción</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="header">
        <h1 class="title">Ferremas</h1>
    </div>

    <nav>
        <a class="nav-link" href="{% url 'index' %}">Inicio</a>
        <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
        <a class="nav-link" href="{% url 'productos' %}">Productos</a>
        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
    </nav>

    <h2>Login</h2>

    <!-- Formulario de Login -->
    <form id="login-form" method="post" action="{% url 'login_view' %}">
        {% csrf_token %}
        <label for="username">Usuario:</label><br>
        <input type="text" id="username" name="username" placeholder="Ingresa tu usuario" required><br>

        <label for="password">Contraseña:</label><br>
        <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required><br>

        <button type="submit">Login</button>
    </form>
</body>
</html>
