<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremas - Tienda Online de Herramientas de Construcción</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'script.js' %}"></script>

</head>
<body>
    <div id="header">
        <h1 class="title">Ferremas</h1>
        <div class="result">
            <!-- Puedes agregar más contenido inicial si lo deseas -->
        </div>
        
    </div>

    <nav>
        <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only"></span></a>
        <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
        <a class="nav-link" href="{% url 'productos' %}">Productos</a>
        <a class="nav-link" href=" https://apisimple-9acb.onrender.com/">Api</a>
        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
    </nav>

    <div id="carousel">
        <div class="arrow arrow-left">
            <span>&#10094;</span>
        </div>
        <div class="arrow arrow-right">
            <span>&#10095;</span>
        </div>
        <div id="image-slider">
            <img src="{% static 'img/imagen1.jpg' %}" alt="Producto 1">
            <img src="{% static 'img/imagen2.jpg' %}" alt="Producto 2">
            <img src="{% static 'img/imagen3.jpg' %}" alt="Producto 3">
            <!-- Agrega más imágenes de productos aquí -->
        </div>
    </div>
    <script src="{% static 'api.js' %}"></script>
</body>
</html>