<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Ferremas</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="header">
        <h1 class="title">Ferremas</h1>
    </div>

    <nav>
        <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only"></span></a>
        <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
        <a class="nav-link" href="{% url 'productos' %}">Productos</a>
        {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'profile' %}">Mi perfil</a>
  
        {% else %}
             <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
        {% endif %}
    </nav>

    <div id="product-container">
        <div class="product-card">
            <a href="{% url 'producto1' %}"><img src="{% static 'img/imagen1.jpg' %}" alt="Martillo"></a>
            <div class="product-info">
                <h2>Martillo</h2>
                <p>Precio: $10,000 CLP</p>
                <p>Cantidad: 20 unidades</p>
                <input type="number" id="martillo-quantity" value="0">
                <button onclick="addToCart('Martillo', 10000, 'martillo-quantity')">Agregar al carrito</button>
            </div>
        </div>

        <div class="product-card">
            <a href="{% url 'producto2' %}"><img src="{% static 'img/imagen2.jpg' %}" alt="Serrucho"></a>
            <div class="product-info">
                <h2>Serrucho</h2>
                <p>Precio: $15,000 CLP</p>
                <p>Cantidad: 15 unidades</p>
                <input type="number" id="serrucho-quantity" value="0">
                <button onclick="addToCart('Serrucho', 15000, 'serrucho-quantity')">Agregar al carrito</button>
            </div>
        </div>

        <div class="product-card">
            <a href="{% url 'producto3' %}"><img src="{% static 'img/imagen3.jpg' %}" alt="Desatornillador"></a>
            <div class="product-info">
                <h2>Desatornillador</h2>
                <p>Precio: $8,000 CLP</p>
                <p>Cantidad: 25 unidades</p>
                <input type="number" id="desatornillador-quantity" value="0">
                <button onclick="addToCart('Desatornillador', 8000, 'desatornillador-quantity')">Agregar al carrito</button>
            </div>
        </div>
    </div>

    <h2>Carrito</h2>
    <div id="cart">
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="carrito-items">
                <!-- Los productos del carrito se agregarán aquí -->
            </tbody>
        </table>
        <p>Total del Carrito: <span id="monto-total">0</span> CLP</p>
        <button onclick="pagar()">Pagar</button>
    </div>
    
    <div id="opciones-envio">
        <h2>Opciones de envío</h2>
        <input type="radio" name="envio" value="tienda"> Retiro en tienda<br>
        <input type="radio" name="envio" value="domicilio"> Despacho a domicilio<br>
    </div>

    <script>
        let cart = [];

        function addToCart(name, price, quantityId) {
            const quantity = parseInt(document.getElementById(quantityId).value);
            if (quantity > 0) {
                cart.push({ name, price, quantity });
                displayCart();
            }
        }

        function displayCart() {
            const cartItems = document.getElementById('carrito-items');
            cartItems.innerHTML = '';
            let total = 0;
            cart.forEach(item => {
                const totalItem = item.price * item.quantity;
                total += totalItem;
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${item.name}</td>
                    <td>${item.quantity}</td>
                    <td>${item.price.toFixed(2)}</td>
                    <td>${totalItem.toFixed(2)}</td>
                `;
                cartItems.appendChild(row);
            });
            document.getElementById('monto-total').textContent = total.toFixed(2);
        }

        function pagar() {
            const montoTotal = document.getElementById('monto-total').textContent;
            fetch('/app/webpay/init_post/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ monto: montoTotal })
            })
            .then(response => response.json())
            .then(data => {
                window.location.href = data.url;
            });
        }
    </script>
</body>
</html>
