<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremas - Tienda Online de Herramientas de Construcción</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    <div id="header">
        <h1 class="title">Ferremas</h1>
    </div>

    <nav>
        <a href="index.html">Inicio</a>
        <a href="nosotros.html">Nosotros</a>
        <a href="productos.html">Productos</a>
        <a href="login.html">Iniciar Sesión</a>
    </nav>

    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        <!-- Agrega los campos del formulario de registro -->
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <button type="submit">Register</button>
    </form>
</body>

</html>